.rhap_container.player {
  background-color: rgb(76, 62, 95);
  /* background-color: transparent; */
  display: flex;
  justify-items: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: none
}

.rhap_stacked .rhap_controls-section {
  /* margin-top: 0 !important; */
  /* margin-bottom: 1rem; */
  /* margin-left: 5rem; */
}

.rhap_container.rhap_loop--off.player{
  height: 100%;
  padding-bottom: 2rem;
}

.rhap_stacked .rhap_play-pause-button {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

.rhap_controls-section .rhap_volume-controls {
  fill: rgb(235, 235, 235) !important;
  justify-content: end;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_volume-container button[aria-label="Pause"] svg path {
  fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_volume-container button[aria-label="Mute"] svg path {
  fill: rgb(235, 235, 235) !important;
}

@media screen and (max-width: 768px) {
  .rhap_main.rhap_stacked {
    margin-top: -2rem;
  }
}